.flex-container {
  display: flex;
  flex-direction: column;
 align-self: center;
}

.flex-container > div {
  align-self: center;
  margin: 20px;
  width:700px;
  border: solid 1px; 
  background-color: DodgerBlue;  
}

.flex-container > div > div {
  background-color: #f1f1f1;
  width: 660px;
  margin: 20px;
  line-height: 75px;
  font-size: 30px;
}
.expencetracker{
	width:380px;
	display:flex;
	flex-direction:column;

	
}
.group {
  position: relative;
  margin: 5px 0;
}
.div > form-input {
background: none;
background-color: white;
font-size: 18px;
display: block;
width: 300px;
height: 30px;
border: none;
border-radius: 1;
border-bottom: 1px solid $sub-color;
padding-left: 100px;
margin: 25px 0;
align-self: center;
}
.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    border: none;
    cursor: pointer;        
   }